*{
    padding: 0;
    margin: 0;
}

.section{
    background-image: url(./images/home-new-bg-free-img.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    background: rgba(6, 56, 87, 0.5);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero_section{
    background: rgba(6, 56, 87, 0.4);
    height: 85vh;
    width: 100%;
}

/* navbar CSS */

.logo{
    height: 90%;
    width: 20%;
    display: flex;
    align-items: center;
}
.nav_items{
    height: 90%;
    width: 25%;
    background: #000;
    text-align: center;
}
.nav_items ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: azure;;
}